<!-- jst an explanation for the app -->
<h3 class="dashBoardText">This is an application made for an imaginary company displaying <br>
	the {{#link-to 'location'}}sites and number of employees{{/link-to}}, <br>
	a {{#link-to 'summary'}}summary with graphs{{/link-to}} and <br>
	finally a {{#link-to 'issues'}}sortable and filterable table{{/link-to}}.</h3>

{{outlet}}
