<h2 class="dashBoardText">This is an application made for an imaginary company displaying the {{#link-to 'location'}}sites and number of employees{{/link-to}}, a {{#link-to 'summary'}}summary with graphs{{/link-to}} and finally a {{#link-to 'issues'}}sortable and filterable table{{/link-to}}.</h2>

{{outlet}}
