<h2>Issues</h2>

<p>sortable and filterable</p>

<div class="table-responsive">
  <table class="table table-striped">
       <thead>
      <tr>
        <th>Submission date</th>
        <th>Name</th>
        <th>Email</th>
        <th>Description</th>
        <th>Status</th>
        <th>Closed date</th>
        <th>Employee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>
{{outlet}}
