
<h2>Number of employees at different locations</h2>


{{#g-map lat=centerLat1 lng=centerLng1 zoom=zoom as |context|}}
  {{#g-map-marker context lat=centerLat1 lng=centerLng1 label="1" as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="click" closeOn="click"}}
    <h3>Site 1</h3>
    <p>{{employee1}}  employees</p>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=centerLat2 lng=centerLng2 label="2" as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="click" closeOn="click"}}
    <h3>Site 2</h3>
    <p>{{employee2}}  employees</p>
    {{/g-map-infowindow}}
  {{/g-map-marker}}
  {{#g-map-marker context lat=centerLat3 lng=centerLng3 label="3" as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="click" closeOn="click"}}
    <h3>Site 3</h3>
    <p>{{employee3}}  employees</p>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

{{/g-map}}



{{outlet}}
