
<h2>Number of employees at different locations</h2>

<!-- lat and lng for the default map shown -->
{{#g-map lat=37.7833 lng=-122.4167 zoom=14 as |context|}}

{{#each model as |site|}}

  {{#g-map-marker context lat=site.centerLat lng=site.centerLng label=site.label as |markerContext|}}
    {{#g-map-infowindow markerContext openOn="click" closeOn="click"}}
    <h5>{{site.id}}</h5>
    <p>{{site.employee}}  employees</p>
    {{/g-map-infowindow}}
  {{/g-map-marker}}

 {{/each}}

{{/g-map}}


{{outlet}}
