<h2>Summary</h2>

<h3>
	{{#link-to 'summary.openIssues'}}Open Issues{{/link-to}}
</h3>

<h3>
	{{#link-to 'summary.lineChart'}}Number of paying customers/time{{/link-to}}
</h3>


<h3>{{#link-to 'summary.barChart'}}Number of issues/time{{/link-to}}</h3>

{{outlet}}
