<h1>Summary</h1>
<h2>There are <span class= "openIssues">{{model.openIssues}}</span> open issues</h2>


<div class="container">
  <h2>Graphs</h2>
  <ul class="nav nav-tabs">
    <li><a class="graphTab" data-toggle="tab" >{{#link-to 'summary.lineChart'}}Paying customers/time{{/link-to}}</a></li>
    <li><a class="graphTab" data-toggle="tab" >{{#link-to 'summary.barChart'}}Issues/time{{/link-to}}</a></li>
  </ul>
  <br>
  {{outlet}}
</div>


